body {
  margin: 0;
  text-align: center;
  color: #e92497;
  font-family: "Quicksand", sans-serif;
}

hr {
  border-color: #ffc1e4;
  border-style: none;
  /* border style of whole set none */
  border-top-style: dotted;
  /* border style of top specifically set to dotted */
  border-width: 5px;
  width: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

h1 {
  color: #ff0095;
  font-size: 90px;
  font-family: "Sacramento", cursive;
  margin-bottom: 0%;
  width: auto;
}

h2 {
  padding: 40px;
  padding-bottom: 0px;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
}

p {
  max-width: 50% auto 30% auto;
  margin: 0 auto;
}

a {
  color: white;
  text-decoration: none;
}

h5 {
  color: #ebc1d9;
}

.topContainer {
  padding: 0%;
  width: 100%;
  padding-top: 100px;
  background-color: #ffe9fc;
  margin-bottom: 50px;
}

.topCloud {
  position: relative;
  top: 40px;
  left: 300px;
}

.bottomCloud {
  position: relative;
  right: 300px;
}

.footer {
  font-size: 50px;
  font-family: "Quicksand", sans-serif;
}

.messageMe {
  background-color: #e92497;
  width: 20%;
  color: #ffe9fc;
  padding: 6px 4px 6px 2px;
  border-radius: 5%;
  margin: 0 auto;
}

.footerData {
  position: absolute;
  width: 100%;
  background-color: #8b1b5d;
}

.skill-row {
  width: 50%;
  text-align: left;
  margin: 100px auto 100px auto;
  line-height: 2;
}

.skill-img {
  width: 100%;
  margin-right: 30px;
}

.btn {
  background: #e92497;
  background-image: -webkit-linear-gradient(top, #e92497, #8b1b5d);
  background-image: -moz-linear-gradient(top, #e92497, #8b1b5d);
  background-image: -ms-linear-gradient(top, #e92497, #8b1b5d);
  background-image: -o-linear-gradient(top, #e92497, #8b1b5d);
  background-image: linear-gradient(to bottom, #e92497, #8b1b5d);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 20px;
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 20px 10px 20px 10px;
  text-decoration: blanchedalmond;
  width: 15%;
  margin: 10px auto 100px;
}

.btn:hover {
  background: #fc3cf6;
  background-image: -webkit-linear-gradient(top, #fc3cf6, #d9348c);
  background-image: -moz-linear-gradient(top, #fc3cf6, #d9348c);
  background-image: -ms-linear-gradient(top, #fc3cf6, #d9348c);
  background-image: -o-linear-gradient(top, #fc3cf6, #d9348c);
  background-image: linear-gradient(to bottom, #fc3cf6, #d9348c);
  text-decoration: none;
}

#footerNote {
  width: 50%;
}
